// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/assets/bootstrap5/_variables.scss, paste it here and edit the value.


$primary: #103C5A;
$secondary: #F7C906;
$success: #98D5D7;
$danger: #DD2C2C;

$navbar-light-color: rgba($primary, .55) !default;
$navbar-dark-color: rgba($secondary, .55) !default;

$bg-primary: $danger